package project;
import java.util.Scanner;
import EmaillApp.Emaill;

/**2
 *
 * @author HP
 **/
public class Project {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        System.out.println("Enter new worker details ");
        Scanner s = new Scanner(System.in);
        System.out.println("Enter First Name");
        String fname = s.next();
        System.out.println("Enter Last Name");
        String lname = s.next();
        Emaill e = new Emaill(fname,lname);
         
         //calling one of set and get method
         System.out.println("Enter allternate email id");
          String altEmail = s.next();
          if(altEmail.endsWith(".com"))
          {
             e.setAlternateEmail(altEmail);
          }
          else
          {
           System.out.println("invalid email id \nTry Again!!!");
           System.exit(0);
          }
         System.out.println("Your alternate email : "+e.getAltEmail());
         System.out.println(e.showInfo());
    }
}
